.top-container {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  background-color: white;
}
.scroll-progress-status {
  height: 20px;
  width: 100%;
  background-color: rgb(206, 162, 227);
}
.current-scroll-progress {
  height: 20px;
  width: 100%;
  background-color: rgb(165, 227, 162);
}
.full-screen {
  background-color: black;
  color: white;
}
h1 {
  color: rgb(165, 227, 162);
}
